 <titulo [titulo]="titulo"></title>
     <div id="fullPage">
         <div id="brandingWrapper" class="float">
             <div id="branding"></div>
         </div>
         <div id="contentWrapper" class="float">
             <div id="content">
                 <div id="header">
                     <img class='logoImage' id='companyLogo' src='assets\img\logo.png' alt='Portal Alunos'/>
                 </div>
                 <div id="workArea">
                     
     <div id="authArea" class="groupMargin">
     <div id="loginArea">        
         <div id="loginMessage" class="groupMargin">Entrar com sua conta institucional</div>
 
         <form method="post" id="loginForm" autocomplete="off" novalidate="novalidate" onKeyPress="if (event && event.keyCode == 13) Login.submitLoginRequest();" action="/adfs/ls/idpinitiatedsignon.aspx?SAMLRequest=fZCxasMwEIb3QN7BaLclxXZqC9tg2sXQLk3p0E2RLsRgSa5OKnn8iridCr3x%2fvu%2bH65DaZZVjDFc7St8RsCQ3cxiUdyDnkRvhZM4o7DSAIqgxGl8eRaHgonVu%2bCUW8iG%2fH8sEcGH2VmS7XfTU09mrZryKOXDsa1LXqkjNLIGqJiEluuz0jXJ3sFjQnqSDCSbECNMFoO0Ia0Yb3PO8gN%2f46Vglaiagm3zQbLxt%2b7RWYwG%2fAn816wSruHWk5oM%2b113F%2frhGsKKgtIL5qCjKhDM6iHxhXKmOHsq9QUpbgKkwUcMHf2Bk4b%2bfeLwDQ%3d%3d&RelayState=https%3a%2f%2faluno.uninassau.edu.br%2fIdPRouter%2fSelectCourse.aspx&client-request-id=2f002dbd-83ae-4d84-f27d-0180070000ed" >
             <div id="error" class="fieldMargin error smallText">
                 <span id="errorText" for=""></span>
             </div>
 
             <div id="formsAuthenticationArea">
                 <div id="userNameArea">
                     <label id="userNameInputLabel" for="userNameInput" class="hidden">Conta de Usu&#225;rio</label>
                     <input id="userNameInput" name="UserName" type="email" value="" tabindex="1" class="text fullWidth"
                         spellcheck="false" placeholder="nome@example.com" autocomplete="off"/>
                 </div>
 
                 <div id="passwordArea">
                     <label id="passwordInputLabel" for="passwordInput" class="hidden">Senha</label>
                     <input id="passwordInput" name="Password" type="password" tabindex="2" class="text fullWidth"
                         placeholder="Senha" autocomplete="off"/>
                 </div>
                 <div id="kmsiArea" style="display:none">
                     <input type="checkbox" name="Kmsi" id="kmsiInput" value="true" tabindex="3" />
                     <label for="kmsiInput">Mantenha-me conectado</label>
                 </div>
                 <div id="submissionArea" class="submitMargin">
                     <span id="submitButton" class="submit" tabindex="4" role="button"
                         onKeyPress="if (event && event.keyCode == 32) Login.submitLoginRequest();"
                         onclick="return Login.submitLoginRequest();">Entrar</span>
                 </div>
             </div>
             <input id="optionForms" type="hidden" name="AuthMethod" value="FormsAuthentication"/>
         </form>
 
              <div id="authOptions">
         <form id="options"  method="post" action="https://fs-educ.sempreser.com.br:443/adfs/ls/idpinitiatedsignon.aspx?SAMLRequest=fZCxasMwEIb3QN7BaLclxXZqC9tg2sXQLk3p0E2RLsRgSa5OKnn8iridCr3x%2fvu%2bH65DaZZVjDFc7St8RsCQ3cxiUdyDnkRvhZM4o7DSAIqgxGl8eRaHgonVu%2bCUW8iG%2fH8sEcGH2VmS7XfTU09mrZryKOXDsa1LXqkjNLIGqJiEluuz0jXJ3sFjQnqSDCSbECNMFoO0Ia0Yb3PO8gN%2f46Vglaiagm3zQbLxt%2b7RWYwG%2fAn816wSruHWk5oM%2b113F%2frhGsKKgtIL5qCjKhDM6iHxhXKmOHsq9QUpbgKkwUcMHf2Bk4b%2bfeLwDQ%3d%3d&RelayState=https%3a%2f%2faluno.uninassau.edu.br%2fIdPRouter%2fSelectCourse.aspx&client-request-id=2f002dbd-83ae-4d84-f27d-0180070000ed">
             <input id="optionSelection" type="hidden" name="AuthMethod" />
             <div id='authOptionLinks' class='groupMargin'></div>
         </form>
       </div>
 
         <div id="introduction" class="groupMargin">
             <p>Não sabe sua senha? <a href='https://aluno.sereduc.com/RecuperaAcesso' target='_blank'>Recuperar Acesso.</a></p><p style='color:red;'>Atenção: Visando ampliar sua segurança o  sistema diferencia caracteres maiúsculos e minúsculos</p>                     
         </div>
      </div>
 
     </div>
 
                 </div>
                 <div id="footerPlaceholder"></div>
             </div>
             <div id="footer">
                 <div id="footerLinks" class="floatReverse">
                      <div><span id="copyright">&#169; 2019 GTS Tecnologia da Informação</span></div>
                 </div>
             </div>
         </div> 
     </div>
     <script type='text/javascript'>

 