/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '../node_modules/bootswatch/dist/lumen/bootstrap.min.css';

#toastr-container > div{
    opacity:1;
}
html >body
{
    color: white;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    /* height: 100px; */
    background-image: url(https://ow2.res.office365.com/owalanding/2019.11.6.01/images/masthead-alt-06-wide-large.jpg);
    background-repeat: no-repeat;
    /* background-position: 45% center; */
    background-size: cover;
    min-height: calc(100vh);
    min-height: calc(100vh - var(--vh-offset));
    background-color: #2a2112;
}