body{
  background-color: rgba(0,0,0,0.5);
}
form > h1{
  color: navajowhite;
}
#username{
  margin-bottom: 10px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  box .share-buttons a:before {
    font-family: icomoon-the7-font;
    font-style: normal;
    font-weight: 400;
    speak: none;
}
  .show-on-hover .share-link-description:before, .single-share-box .share-buttons a:before {
    font-family: icomoon-the7-font;
    font-style: normal;
    font-weight: 400;
    speak: none;
}
.share-buttons .soc-font-icon {
  display: none;
}
.dt-icon-facebook:before, .facebook .soc-font-icon:before, .icomoon-the7-font-facebook:before {
  content: "\f106";
}
  .single-share-box .share-buttons a {
    display: inline-block;
    width: 50px;
    height: 30px;
    min-width: 50px;
    min-height: 30px;
    margin: 0 4px 4px 0;
    border: 1px solid;
    text-transform: none;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.share-buttons a{
  border: none;;
}

@font-face {
  font-family: icomoon-the7-social-icons-16x16;
  src: url(/ProgAgil-App/src/assets/fonts/icomoon-the7-social-icons-16x16.ttf) format("opentype");
}


@font-face {
  font-family: 'icomoon-the7-social-icons-16x16';
  src:  url('/ProgAgil-App/src/assets/fonts/icomoon-the7-social-icons-16x16.ttf.ttf?esfwnl') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="soc-font-"], [class*=" soc-font-"],
.dt-shortcode-soc-icons [class^="dt-icon-"],
.dt-shortcode-soc-icons [class*=" dt-icon-"],
.soc-ico [class^="dt-icon-"],
.soc-ico [class*=" dt-icon-"] {
  position: relative;
  z-index: 2;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-the7-social-icons-16x16' !important;
  font-size: 16px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 26px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dt-icons-selector [class^="dt-icon-"]:before,
.dt-icons-selector [class*=" dt-icon-"]:before {
   font-family: 'icomoon-the7-social-icons-16x16' !important;
}

